header{
    height: 50px;
    background-color: deeppink;
}

nav {
    background-color: forestgreen;
    height: 50px;
}

main{
    background-color: blueviolet;
    height: 500px;
    width: 75%;
    float: left;
}

aside{
    background-color: cadetblue;
    height: 500px;
    width:25%;
    float: right;
}

footer{
    background-color: darkorange;
    height: 30px;
    clear: both;
}

body{
    margin: auto;
}