#div{
    font-size: 25px;
}

.pgraph {
    font-size: 30px;
}

a[href^="https"]{
color: green;
}

a[href$="com"] {
    color: red;
}

a[href*="bbc"] {
     color: yellow;
 }

a[href*="second"] {
    color: blue;
}

h1{
    background-color: grey;
}

body p{
    background-color: red;
}

div > p {
    background-color: green;
}

div ~ p {
    background-color: yellow;
}

div + p{
    background-color: pink;
}

ul {
    list-style-type: lower-alpha;
}

a:link{
    text-decoration:none;

}