#div{
    font-size: 25px;
}

.pgraph {
    font-size: 30px;
}

a[href^="https"]{
color: green;
}

a[href$="com"] {
    color: red;
}

a[href*="bbc"] {
     color: yellow;
 }

a[href*="second"] {
    color: blue;
}
